<% @title = t(".title") %>

<% if @user.mfa_enabled? %>
  <div class="t-body">
    <h2><%= t ".mfa.multifactor_auth" %></h2>
    <p><%= t(".mfa.enabled_html") %></p>
    <%= form_tag multifactor_auth_path, method: :put, id: "mfa-edit" do %>
      <%= label_tag :level, t(".mfa.level.title"), class: "form__label" %>
      <%= select_tag :level, options_for_select([
        [t(".mfa.level.ui_and_api"), "ui_and_api"],
        [t(".mfa.level.ui_and_gem_signin"), "ui_and_gem_signin"],
        [t(".mfa.level.ui_only"), "ui_only"],
        [t(".mfa.level.disabled"), "disabled"]], @user.mfa_level), class: "form__input form__select" %>
      <div class="text_field">
        <%= label_tag :otp, t(".otp_code"), class: "form__label" %>
        <%= text_field_tag :otp, "", class: "form__input", autocomplete: :off %>
      </div>
      <%= submit_tag t(".mfa.update"), class: "form__submit" %>
    <% end %>

    <h3><%= t(".webauthn_credentials") %></h3>

    <% if @webauthn_credentials.none? %>
      <p><%= t(".no_webauthn_credentials") %></p>
    <% end %>

    <%= render @webauthn_credentials %>

    <h3><%= t(".add_webauthn_credential") %></h3>

    <p><%= t(".webauthn_credential_note") %></p>

    <%= render "webauthn_credentials/form", webauthn_credential: @webauthn_credential %>
  </div>
<% else %>
  <div class="t-body">
    <h2><%= t ".mfa.multifactor_auth" %></h2>

    <p>
      <%= t(".mfa.disabled_html") %>
      <%= button_to t(".mfa.go_settings"), new_multifactor_auth_path, method: "get", class: "form__submit" %>
    </p>
  </div>
<% end %>

<div class="t-body">
  <h2><%= link_to t('.reset_password.title'), new_password_path %></h2>
</div>

<div class="t-body">
  <h2><%= link_to t('.api_keys'), profile_api_keys_path %></h2>
</div>

<% if @user.ownerships.any? %>
  <div class="t-body">
    <h2><%= link_to t("notifiers.show.title"), notifier_path %></h2>
  </div>
<% end %>
